@import url('https://fonts.googleapis.com/css?family=Oswald');
*{
  font-family:Oswald;
}

div {
background-color: #009da6;
line-height: 200px;
margin-top:0;
color: white;
font-size:24px;
}

.btn{
  background-color:#f8931d;
  font-size:24px;
}
